plugins {
    compact-status { path "compact-status.wasm"; }
}
themes {
    default {
        fg 15
        bg 40 42 54
        black 0
        red 1
        green 2
        yellow 3
        blue 6
        magenta 5
        cyan 14
        white 15
        orange 3
    }
}
